<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello,World!</title>
    <link href="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.3.1/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
<div class="ui grid" style="height: 40px;">
    <div class="column"></div>
</div>
<div class="ui three column grid">
    <div class="four wide column"></div>
    <div class="eight wide column">
        <h1 align="center" class="ui huge header">
            <i class="heart icon"></i>
        </h1>
        <h1 class="ui huge header" align="center">Hello,{{ name }}!</h1>
        <h1 align="center">
           <button class="ui primary basic button">Start</button>
        </h1>
        </div>
    </div>
    <div class="four wide column"></div>
</div>
</body>
</html>
